fixed
{
  "name": "Local AI Website Creator (Fixed)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "filePath": "C:\\AIWebsite\\control.txt"
      },
      "name": "Read Control File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ Buffer.from($binary.data.data, 'base64').toString('utf8').trim() }}",
              "operation": "notEqual",
              "value2": ""
            }
          ]
        }
      },
      "name": "Check If Not Empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:11434/api/generate",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral\",\n  \"prompt\": \"{{ Buffer.from($binary.data.data, 'base64').toString('utf8') }}\",\n  \"stream\": false\n}",
        "options": {
          "timeout": 60000
        }
      },
      "name": "Call Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [800, 300]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [],
          "binary": [
            {
              "name": "body",
              "data": "={{ Buffer.from($json.response || '', 'utf8').toString('base64') }}"
            }
          ]
        }
      },
      "name": "Set to Binary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "fileName": "C:\\AIWebsite\\generated.html",
        "dataPropertyName": "body"
      },
      "name": "Write Generated HTML",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "fileName": "C:\\AIWebsite\\control.txt",
        "data": ""
      },
      "name": "Reset Control File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [1400, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Control File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Control File": {
      "main": [
        [
          {
            "node": "Check If Not Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Not Empty": {
      "main": [
        [
          {
            "node": "Call Ollama",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Call Ollama": {
      "main": [
        [
          {
            "node": "Set to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set to Binary": {
      "main": [
        [
          {
            "node": "Write Generated HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Generated HTML": {
      "main": [
        [
          {
            "node": "Reset Control File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
