fixed
{
  "name": "Local AI Website Creator (Corrected)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "filePath": "C:\\AIWebsite\\control.txt",
        "options": {
          "encoding": "utf8"
        }
      },
      "name": "Read Control File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $binary.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Check If Not Empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:11434/api/generate",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral\",\n  \"prompt\": \"{{ $binary.data }}\",\n  \"stream\": false\n}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Call Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [800, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "html_content",
              "name": "html_content",
              "value": "={{ $json.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:\\AIWebsite\\generated.html",
        "dataPropertyName": "html_content"
      },
      "name": "Write Generated HTML",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:\\AIWebsite\\control.txt",
        "fileContent": ""
      },
      "name": "Reset Control File",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [1400, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Control File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Control File": {
      "main": [
        [
          {
            "node": "Check If Not Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Not Empty": {
      "main": [
        [
          {
            "node": "Call Ollama",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Call Ollama": {
      "main": [
        [
          {
            "node": "Extract Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response": {
      "main": [
        [
          {
            "node": "Write Generated HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Generated HTML": {
      "main": [
        [
          {
            "node": "Reset Control File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
